PORT=votre_port
EMAIL_HOST=smtp.gmail.com
EMAIL_USERNAME=username_email
EMAIL_PASSWORD=mot_de_passe_application
FROM=Appplication <johndoe@gmail.com>

CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
CLOUDINARY_URL=cloudinary_url
CORS_ORIGINS=cors_origin
EXTERNAL_SERVICE_API_KEY=api_key